<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../components/head.ejs") %>

        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include("../components/nav.ejs") %>
        <h3>Hello from Express ...</h3>
        <a href="/download">Download Link</a>
</body>

</html>