<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../components/head.ejs") %>

        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include("../components/nav.ejs") %>
        <div class="container mt-4">
            <h3>Hello from Products ...</h3>
        </div>
        <div id="app"></div>

        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
</body>

</html>